* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: 0px;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
    background: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient(180.2deg, rgb(120, 85, 137) -6.9%, rgb(35, 9, 31) 76.7%);
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: auto;
    width: auto;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    background-color: #333;
    height: auto;
    width: auto;
    max-width: 300px;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 0 0 50px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #333;
    top: -5px;
    left: -5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: 10px;
    scrollbar-width: none;
  }

#display::-webkit-scrollbar {
    display: block;
    width: 0px;
    height: 0px;
    height: 3px;
    background: transparent;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    background-color: #fff;
    border-radius: 30px;
    color: #333;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.15);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #f967f3;
  }
  
  .calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
  }

  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
  }

  .calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
  }